<style>
  .guild-information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    height: 340px;
    width: 100%;
  }
  .inform-panel {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: var(--c-36);
    border-radius: 13px;
    padding: 4px;
    gap: 4px;
    box-shadow: 0px 10px 12px #00000040;
  }
  .main-inform {
    width: calc(100% - 12px);
    height: 38px;
    padding: 6px;
    gap: 8px;
  }
  .main-inform > img {
    height: 38px;
    pointer-events: none;
    border-radius: 11px;
  }
  .main-inform h1 {
    font-size: 22px;
    text-shadow: 0px 2px 5px var(--c-16);
    flex: 1;
  }
  .inform-panel canvas {
    max-height: 100% !important;
    max-width: 100% !important;
  }
  .line-one,
  .line-three {
    max-height: 32px;
    min-height: 32px;
    height: 32px;
    .toggler {
      height: 32px;
      width: 32px;
      border-radius: 12px;
      background: var(--c-24);
      overflow: hidden;
      font-size: 8px;
    }
  }
  .line-one p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    height: 16px;
    margin-left: 4px;
    width: calc(100% - 40px);
    font-size: 12px;
  }
  .line-one p::after,
  .line-one p::before {
    content: attr(onHoverValue);
  }
  .line-one button {
    height: 32px;
    width: 32px;
    border-radius: 12px;
    background: var(--c-24);
    overflow: hidden;
  }
  .line-two {
    flex: 1;
    height: calc(100% - 64px - 8px);
    padding: 1px;
    gap: 4px;
    .bar {
      width: 32px;
      position: relative;
    }
  }
  .line-two .bar span {
    font-size: 8px;
    position: absolute;
    top: 0;
    right: -2px;
  }
  .line-three p {
    flex: 1;
  }
  .line-three span {
    font-size: 8px;
  }
  .canwas-wrapper {
    width: calc(100% - 32px - 4px);
    border: 1px dotted var(--c-48);
    border-bottom: none;
    border-right: none;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<div class="flex align-center main-inform default-alpha-block">
  <img src="<%= guild.avatar %>">
  <h1><%= guild.name %></h1>
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/main-panel-buttons.ejs`, guild) %>
</div>
<div class="guild-information">
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'totalMembers' }) %>
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'totalRegionalMembers' }) %>

  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'onlineMembers' }) %>
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'playingMembers' }) %>
  
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'messagesPerHour' }) %>
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'messagesFromUniqueUsers' }) %>

  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'voiceMembers' }) %>
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'uniqueUsersVoiceActivity' }) %>
  
</div>
<script>
  setTimeout(() => {
    $('.line-two').css('padding', '0');
  }, 10);
</script>