<style>
  .guild-information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    height: 224px;
    width: 100%;
  }
  .inform-panel {
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    background: var(--c-36);
    border-radius: 17px;
    padding: 12px;
    gap: 8px;
    box-shadow: 0px 10px 12px #00000040;
  }
  .main-inform {
    width: calc(100% - 12px);
    height: 38px;
    padding: 6px;
    gap: 8px;
  }
  .main-inform > img {
    height: 38px;
    pointer-events: none;
    border-radius: 11px;
  }
  .main-inform h1 {
    font-size: 22px;
    text-shadow: 0px 2px 5px var(--c-16);
    flex: 1;
  }
</style>
<div class="flex align-center main-inform default-alpha-block">
  <img src="<%= guild.avatar %>">
  <h1><%= guild.name %></h1>
  <%- include('C:\\Users\\Марк\\[КОД]\\Web\\Guild Menegment\\views\\modules\\terminal\\guild\\main-panel-buttons.ejs', guild) %>
</div>
<div class="guild-information">
  <%- include('C:\\Users\\Марк\\[КОД]\\Web\\Guild Menegment\\views\\modules\\terminal\\guild\\1st-panel.ejs', guild) %>
  <div class="default-alpha-block flex inform-panel" style="grid-column: 2 / 3; grid-row: 1 / 2;">
    <%- include('C:\\Users\\Марк\\[КОД]\\Web\\Guild Menegment\\views\\modules\\terminal\\guild\\2st-panel.ejs', guild) %>
  </div>
  <div class="default-alpha-block flex inform-panel" style="grid-column: 3 / 4; grid-row: 1 / 2;">
    <%- include('C:\\Users\\Марк\\[КОД]\\Web\\Guild Menegment\\views\\modules\\terminal\\guild\\3st-panel.ejs', guild) %>
  </div>
  <div class="default-alpha-block flex inform-panel" style="grid-column: 4 / 5; grid-row: 1 / 2;">
    <%- include('C:\\Users\\Марк\\[КОД]\\Web\\Guild Menegment\\views\\modules\\terminal\\guild\\4st-panel.ejs', guild) %>
  </div>
  <div class="default-alpha-block flex inform-panel" style="grid-column: 1 / 2; grid-row: 2 / 3;">
    <%- include('C:\\Users\\Марк\\[КОД]\\Web\\Guild Menegment\\views\\modules\\terminal\\guild\\5st-panel.ejs', guild) %>
  </div>
  <div class="default-alpha-block flex inform-panel" style="grid-column: 2 / 3; grid-row: 2 / 3;">
    <%- include('C:\\Users\\Марк\\[КОД]\\Web\\Guild Menegment\\views\\modules\\terminal\\guild\\6st-panel.ejs', guild) %>
  </div>
  <div class="default-alpha-block flex inform-panel" style="grid-column: 3 / 4; grid-row: 2 / 3;">
    <%- include('C:\\Users\\Марк\\[КОД]\\Web\\Guild Menegment\\views\\modules\\terminal\\guild\\7st-panel.ejs', guild) %>
  </div>
  <div class="default-alpha-block flex inform-panel" style="grid-column: 4 / 5; grid-row: 2 / 3;">
    <%- include('C:\\Users\\Марк\\[КОД]\\Web\\Guild Menegment\\views\\modules\\terminal\\guild\\8st-panel.ejs', guild) %>
  </div>
</div>