<style>
  .guild-information {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    height: 340px;
    width: 100%;
  }
  .inform-panel {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: var(--c-36);
    border-radius: 13px;
    padding: 4px;
    gap: 4px;
    box-shadow: 0px 10px 12px #00000040;
  }
  .main-inform {
    width: calc(100% - 12px);
    height: 38px;
    padding: 6px;
    gap: 8px;
  }
  .main-inform > img {
    height: 38px;
    pointer-events: none;
    border-radius: 11px;
  }
  .main-inform h1 {
    font-size: 22px;
    text-shadow: 0px 2px 5px var(--c-16);
    flex: 1;
  }
  .inform-panel canvas {
    max-height: 100% !important;
    max-width: 100% !important;
  }
  .line-one,
  .line-three {
    max-height: 32px;
    min-height: 32px;
    height: 32px;
  }
  .line-one p {
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 16px;
    margin-left: 4px;
    width: calc(100% - 40px);
    font-size: 12px;
  }
  .line-one button {
    height: 32px;
    width: 32px;
    border-radius: 12px;
    background: var(--c-24);
    overflow: hidden;
  }
  .line-two {
    flex: 1;
    height: calc(100% - 64px - 8px);
    padding: 1px;
    gap: 4px;
    .bar {
      width: 32px;
      position: relative;
    }
  }
  .line-two .bar span {
    font-size: 8px;
    position: absolute;
    top: 0;
    right: -2px;
  }
  .line-three p {
    flex: 1;
    text-align: center;
    font-size: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0 8px 0 4px;
  }
  .line-three span {
    font-size: 8px;
  }
  .line-three .toggler {
    height: 32px;
    width: 64px;
    border-radius: 12px;
    background: var(--c-16);
    overflow: hidden;
    font-size: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .line-three .toggler button {
    height: 32px;
    width: 32px;
    z-index: 1;
    font-size: 12px;
    text-shadow: 0px 2px 4px var(--c-16);
  }
  .line-three .toggler::after {
    position: absolute;
    height: 28px;
    width: 28px;
    left: 2px;
    background: var(--c-36);
    content: "";
    border-radius: 10px;
    transition: all 0.5s var(--trans);
  }
  .line-three .toggler[visibilityType="weeks"]::after {
    left: 100%;
    transform: translateX(calc(-100% - 2px));
  }
  .canwas-wrapper {
    width: calc(100% - 32px - 4px);
    border: 1px dotted var(--c-48);
    border-bottom: none;
    border-right: none;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script>
function generateChart(chartBlock, specular) {
  const canvasName = chartBlock.attr('id')
  const chartInstance = Chart.getChart(canvasName);
  const labels = chartBlock.data('labels').slice(specular)
  const data = chartBlock.data('data').slice(specular)

  const isBeginAtZero = !data.some(value => value > 0);
  $(`#${canvasName}NameX`).text(`${labels[0].slice(0, 10)} -> ${labels[labels.length - 1].slice(0, 10)}`)

  if (chartInstance) {
    chartInstance.data.labels = labels;
    chartInstance.data.datasets[0].data = data;
    chartInstance.options.scales.y.beginAtZero = isBeginAtZero
    chartInstance.update();
    return
  }
  
  new Chart(document.getElementById(canvasName).getContext('2d'), {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        data: data,
        borderColor: getBorderColor(canvasName),
        borderWidth: 2,
        pointRadius: 0.5,
        lineTension: 0.3,
      }],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false,
          opacity: 0,
        },
      },
      scales: {
        x: {
          display: false,
        },
        y: {
          display: true,
          beginAtZero: isBeginAtZero,
          fontSize: 1,
        },
      },
    },
  });
}
  
function getBorderColor(str) {
  let hash = 0;
  for (let i = 0; i < str.length; i++) {
    hash = str.charCodeAt(i) + ((hash << 5) - hash);
  }
  const color = Math.floor(Math.abs((Math.sin(hash) * 16777215) % 16777215)).toString(16);
  return `#${"000000".substring(0, 6 - color.length) + color}`;
}

function changeDayWeekVisibility(button) {
  const canvas = $(button).closest('.default-alpha-block').find('canvas')

  if ($(button).attr('visibilityType') === 'days') {
    $(button).attr('visibilityType', 'weeks');
    generateChart(canvas);
  } else {
    $(button).attr('visibilityType', 'days');
    generateChart(canvas, -47);
  }
}
</script>
<div class="flex align-center main-inform default-alpha-block">
  <img src="<%= guild.avatar %>">
  <h1><%= guild.name %></h1>
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/main-panel-buttons.ejs`, guild) %>
</div>
<div class="guild-information">
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'totalMembers' }) %>
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'totalRegionalMembers' }) %>

  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'onlineMembers' }) %>
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'playingMembers' }) %>
  
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'messagesPerHour' }) %>
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'messagesFromUniqueUsers' }) %>

  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'voiceMembers' }) %>
  <%- include(`${lang.debugPath}/views/modules/terminal/guild/default-panel.ejs`, { stat: guild.statistics, lang: lang, name: 'uniqueUsersVoiceActivity' }) %>
  
</div>
<script>
  setTimeout(() => {
    $('.line-two').css('padding', '0');
  }, 10);
</script>