<div class="achievements_module default_panel_style dynamic <%= player.registered ? '' : 'blocked' %>" achievement="casual" processed="<%= player.achievements?.processed %>">
  <div class="selection_wrapper flex flex-dir-row">
    <% const allAchievements = {
      casual: [
        ['diamonds', 10],
        ['netherite', 4],
        ['endStone', 2048],
        ['shrieker', 16],
        ['reinforcedDeepslate', 64]
      ],
      defence: [
        ['damageOne', 100000],
        ['damageTwo', 250000],
        ['damageThree', 500000],
        ['damageFour', 750000],
        ['damageFive', 1000000]
      ],
      killer: [
        ['kills', 500],
        ['wither', 1],
        ['dragon', 1],
        ['warden', 1],
        ['damage', 1000000]
      ],
      event: [
        ['eventOne', 1],
        ['eventTwo', 1],
        ['eventThree', 3],
        ['eventFour', 1],
        ['eventFive', 10]
      ],
      donate: [
        ['donateOne', 10],
        ['donateTwo', 20],
        ['donateThree', 30],
        ['donateFour', 40],
        ['donateFive', 50]
      ],
      hammer: [
        ['becomeMayor', 1],
        ['playsFromFirstSeason', 1],
        ['petition', 1]
      ]
    } %>    
    <% let isFirstButtonProcessed = false %>
    <% let isFirstPanelProcessed = false %>
    <% Object.keys(allAchievements).forEach(achKey => { %>
      <button class="<%= isFirstButtonProcessed ? '' : 'selected' %> <%= achKey %>" onclick="achievementSelection(this)" --achievement="<%= achKey %>" --<%= achKey %>>
        <img src="https://api.impactium.fun/ux/<%= achKey %>.svg">
      </button>
    <% if (Object.keys(allAchievements).indexOf(achKey) === Object.keys(allAchievements).length - 1) { %>
    <div class="align-center justify-end loader" style="flex: 1;">
      <img src="https://api.impactium.fun/ux/loader24p.svg">
    </div>
    <% } %>
      <% isFirstButtonProcessed = true %>
    <% }); %>
  </div>
  <div class="relative_panel flex flex-dir-row">
    <% Object.keys(allAchievements).forEach(achKey => { %>
        <% let percentage = [0, 0] %>
        <div class="<%= achKey %> stages <%= isFirstPanelProcessed ? '' : 'selected' %>" --achievement="<%= achKey %>" --<%= achKey %>>
          <% allAchievements[achKey].forEach(stageKey => { %>
            <% const stage = player.achievements?.[achKey]?.stages[stageKey[0]] %>
            <hr class="embed">
            <% if (stage) { %>
              <div class="flex flex-dir-row align-center stage">
                <img src="https://api.impactium.fun/achievement/<%= stageKey[0] %>.png" class="icon">
                <text class="flex flex-dir-column">
                  <p><%= lang[`${stageKey[0]}_todo`].title %></p>
                  <p class="grayed"><%= lang[`${stageKey[0]}_todo`].description %></p>
                </text>
                <div class="flex flex-dir-column">
                  <span><%= stage.isDone ? stage.limit : stage.score %> / <%= stage.limit %></span>
                  <line>
                    <hr style="width: <%= stage.percentage %>%;">
                  </line>
                </div>
              </div>
              <% percentage[0] = percentage[0] + stage.percentage %>
              <% percentage[1]++ %>
            <% } else { %>
              <div class="flex flex-dir-row align-center stage">
                <img src="https://api.impactium.fun/achievement/<%= stageKey[0] %>.png" class="icon">
                <text class="flex flex-dir-column">
                  <p><%= lang[`${stageKey[0]}_todo`].title %></p>
                  <p class="grayed"><%= lang[`${stageKey[0]}_todo`].description %></p>
                </text>
                <div class="flex flex-dir-column">
                  <span>0 / <%= stageKey[1] %></span>
                  <line>
                    <hr style="width: 0%;">
                  </line>
                </div>
              </div>
              <% percentage[1]++ %>
            <% } %>
          <% }); %>
          <line class="bottom">
            <hr width="<%= percentage[0] / percentage[1] %>%">
          </line>
        </div>
        <% isFirstPanelProcessed = true %>
    <% }); %>
  </div>
</div>