<style>
  .achievements_module .reward {
    width: -webkit-fill-available;
    max-height: 96px;
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    margin: 8px 0;
    background: #161616aa;
    padding: 8px;
  }
  .achievements_module .reward p.title {
    height: 12px;
    color: var(--w-1);
    font-size: 12px;
    line-height: 12px;
    flex: unset;
  }
  .achievements_module .reward p.title span {
    color: var(--w);
  }
  .achievements_module .reward button.activate {
    display: flex;
    cursor: pointer;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: var(--c-16);
    border-radius: 4px;
    padding: 8px;
  }
  .achievements_module .reward .claim {
    height: 100%;
    overflow: hidden;
    gap: 4px;
  }
  .achievements_module .reward .claim img {
    background-color: var(--c-16);
    image-rendering: pixelated;
    pointer-events: none;
    border-radius: 4px;
    padding: 4px;
    aspect-ratio: 1 / 1;
    height: 100%;
  }
</style>

<div class="achievements_module default_panel_style dynamic <%= player.registered ? '' : 'blocked' %>" achievement="casual" processed="<%= player.stats?.processed %>">
  <div class="selection_wrapper flex flex-dir-row">
    <% const allAchievements = {
      "casual": {
        "stages": [
          ['diamonds', 10],
          ['netherite', 4],
          ['endStone', 2048],
          ['shrieker', 16],
          ['reinforcedDeepslate', 64]
        ],
        "reward": {
          "icon": "https://static.wikia.nocookie.net/minecraft/images/5/55/HasteNew.png",
          "type": "effect"
        }
      },
      "defence": {
        "stages": [
          ['damageOne', 100000],
          ['damageTwo', 250000],
          ['damageThree', 500000],
          ['damageFour', 750000],
          ['damageFive', 1000000]
        ],
        "reward": {
          "icon": "https://static.wikia.nocookie.net/minecraft/images/0/05/ResistanceNew.png",
          "type": "effect"
        }
      },
      "killer": {
        "stages": [
          ['kills', 500],
          ['wither', 1],
          ['dragon', 1],
          ['warden', 1],
          ['damage', 1000000]
        ],
        "reward": {
          "icon": "https://static.wikia.nocookie.net/minecraft/images/b/b8/StrengthNew.png",
          "type": "effect"
        }
      },
      "event": {
        "stages": [
          ['eventOne', 1],
          ['eventTwo', 1],
          ['eventThree', 3],
          ['eventFour', 1],
          ['eventFive', 10]
        ],
        "reward": {
          "icon": "",
          "type": ""
        }
      },
      "donate": {
        "stages": [
          ['donateOne', 10],
          ['donateTwo', 20],
          ['donateThree', 30],
          ['donateFour', 40],
          ['donateFive', 50]
        ],
        "reward": {
          "icon": "",
          "type": ""
        }
      },
      "hammer": {
        "stages": [
          ['becomeMayor', 1],
          ['playsFromFirstSeason', 1],
          ['petition', 1]
        ],
        "reward": {
          "icon": "https://api.impactium.fun/achievement/thunderBolt.png",
          "type": "ability"
        }
      }
    } %>    
    <% let isFirstButtonProcessed = false %>
    <% let isFirstPanelProcessed = false %>
    <% Object.keys(allAchievements).forEach(achKey => { %>
      <button class="<%= isFirstButtonProcessed ? '' : 'selected' %> <%= achKey %>" onclick="achievementSelection(this)" --achievement="<%= achKey %>" --<%= achKey %>>
        <img src="https://api.impactium.fun/ux/<%= achKey %>.svg">
      </button>
    <% if (Object.keys(allAchievements).indexOf(achKey) === Object.keys(allAchievements).length - 1) { %>
    <div class="align-center justify-end loader" style="flex: 1;">
      <img src="https://api.impactium.fun/ux/loader24p.svg">
    </div>
    <% } %>
      <% isFirstButtonProcessed = true %>
    <% }); %>
  </div>
  <div class="relative_panel flex flex-dir-row">
    <% Object.keys(allAchievements).forEach(achKey => { %>
        <% let percentage = [0, 0] %>
        <div class="<%= achKey %> stages <%= isFirstPanelProcessed ? '' : 'selected' %>" --achievement="<%= achKey %>" --<%= achKey %>>
          <% allAchievements[achKey].stages.forEach(stageKey => { %>
            <% const stage = player.achievements?.[achKey]?.stages[stageKey[0]] %>
            <hr class="embed">
            <% if (stage) { %>
              <div class="flex flex-dir-row align-center stage">
                <img src="https://api.impactium.fun/achievement/<%= stageKey[0] %>.png" class="icon">
                <text class="flex flex-dir-column">
                  <p><%= lang[`${stageKey[0]}_todo`].title %></p>
                  <p class="grayed"><%= lang[`${stageKey[0]}_todo`].description %></p>
                </text>
                <div class="flex flex-dir-column">
                  <span><%= stage.isDone ? stage.limit : stage.score %> / <%= stage.limit %></span>
                  <line>
                    <hr style="width: <%= stage.percentage %>%;">
                  </line>
                </div>
              </div>
              <% percentage[0] = percentage[0] + stage.percentage %>
              <% percentage[1]++ %>
            <% } else { %>
              <div class="flex flex-dir-row align-center stage">
                <img src="https://api.impactium.fun/achievement/<%= stageKey[0] %>.png" class="icon">
                <text class="flex flex-dir-column">
                  <p><%= lang[`${stageKey[0]}_todo`].title %></p>
                  <p class="grayed"><%= lang[`${stageKey[0]}_todo`].description %></p>
                </text>
                <div class="flex flex-dir-column">
                  <span>0 / <%= stageKey[1] %></span>
                  <line>
                    <hr style="width: 0%;">
                  </line>
                </div>
              </div>
              <% percentage[1]++ %>
            <% } %>
          <% }); %>
          <div class="reward flex flex-dir-row">
            <div style="flex: 1;display: flex;flex-direction: column;gap: 8px;">
              <p class="title"><%= lang.reward %>: <span><%= lang[allAchievements[achKey].reward.type] %></span></p>
              <div class="flex flex-dir-row align-center claim">
                <img src="<%= allAchievements[achKey].reward.icon %>">
                <p><%= lang[`${achKey}_reward`] %></p>
              </div>
            </div>
            <button class="activate">
              Активировать
            </button>
          </div>
          <line class="bottom">
            <hr width="<%= percentage[0] / percentage[1] %>%">
          </line>
        </div>
        <% isFirstPanelProcessed = true %>
    <% }); %>
  </div>
</div>