<div class="default_panel_style dynamic <%= player.registered ? '' : 'blocked' %> password_changer">
    <div class="flex panel-header align-center">
      <p><%= lang.changePassword %></p>
    </div>

    <p id="passwordUpdateOnErrorMessageContainer"></p>

    <div class="flex panel-footer" style="gap: 8px;">
      <input type="password" id="passwordField" value="<%= player.password %>" placeholder="<%= lang.enterNewPassword %>">
      
      <div onclick="updatePassword()" class="change_profile save-button" toOverlayView>
        <%= lang.confirm %>
      </div>
    </div>
  </div>