<div class="dynamic default_panel_style profile">
    <h2 class="header"><%= lang.myProfile %></h2>

    <p class="player">
      <%- (player.registered && player.skin?.iconLink)
        ? `<img src="${player.skin?.iconLink}?timestamp=${Date.now()}">`
        : `<img src="https://api.impactium.fun/minecraftPlayersSkins/steve_icon.png">`
      %>

      <%= (player.registered && player.nickname) 
        ? player.nickname 
        : (player.registered 
          ? lang.playerHasNoNickname 
          : lang.playerNotRegisteredYet
        ) %>
    </p>
  <% const basicAchievments = ['casual', 'sword', 'shield', 'event'] %>
  <ul role="list" class="privileges">
    <% basicAchievments.forEach(basicAch => { %>
      <% if (player.achievments) { %>
        <% const playerAchievment = player.achievments.find(playerAch => playerAch.icon === basicAch) %>
        <% if (playerAchievment) { %>
          <li --<%= playerAchievment.icon %> --<%= playerAchievment.level %> >
            <%= lang[playerAchievment.lang] %> <%= playerAchievment.level %><hr>
          </li>
        <% } %>
      <% } %>
    <% }); %>
  </ul>

  <%- player.registered 
    ? `<a class="change_profile" toOverlayView>${lang.saveChanges}</a>` 
    : `<a class="change_profile" toOverlayView onclick="registerPlayer()">${lang.register}</a>`
  %>
</div>