<div class="dynamic default_panel_style profile">
    <h2 class="header"><%= lang.myProfile %></h2>

    <p class="player">
      <%- (player.registered && player.skin?.iconLink)
        ? `<img src="${player.skin?.iconLink}?timestamp=${Date.now()}">`
        : `<img src="https://api.impactium.fun/minecraftPlayersSkins/steve_icon.png">`
      %>

      <%= (player.registered && player.nickname) 
        ? player.nickname 
        : (player.registered 
          ? lang.playerHasNoNickname 
          : lang.playerNotRegisteredYet
        ) %>
    </p>
  <ul role="list" class="privileges">
    <% const allAchievements = ['casual', 'defence', 'killer', 'event', 'donate', 'hammer'] %>
      <% allAchievements.forEach(achKey => { %>
        <% const ach = player.achievements?.[achKey] %>
        <% if (typeof ach !== 'object') return %>
        <li --<%= achKey %> --<%= ach.doneStages %> >
          <%= lang[`achievmentTitle_${achKey}`] %> <%= ach.symbol %><hr>
        </li>
      <% }); %>
  </ul>

  <%- player.registered 
    ? `<a class="change_profile" toOverlayView>${lang.saveChanges}</a>` 
    : `<a class="change_profile" toOverlayView onclick="registerPlayer()">${lang.register}</a>`
  %>
</div>