<div class="dynamic default_panel_style profile">
    <h2 class="header"><%= lang.myProfile %></h2>

    <p class="player">
      <%- (player.registered && player.skin?.iconLink)
        ? `<img src="${player.skin?.iconLink}">`
        : `<img src="https://api.impactium.fun/minecraftPlayersSkins/steve_icon.png">`
      %>

      <%= (player.registered && player.nickname) 
        ? player.nickname 
        : (player.registered 
          ? lang.playerHasNoNickname 
          : lang.playerNotRegisteredYet
        ) %>
    </p>
  <% if (player.achievments) { %>
  <ul role="list" class="privileges">
    <% Object.keys(player.achievments).forEach(ach => { %>
      <li --<%= ach.type %> --<%= ach.level %> ><%= lang[ach.lang] %> <%= ach.level %><hr></li>
    <% }); %>
  </ul>
  <% } %>

  <%- player.registered 
    ? `<a class="change_profile" toOverlayView>${lang.saveChanges}</a>` 
    : `<a class="change_profile" toOverlayView onclick="registerPlayer()">${lang.register}</a>`
  %>
</div>