<style>
.panel {
  height: calc(100vh - 80px);
}
.panel.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about-us {
  height: 250px;
  padding: 40px;
  width: 50vw;
  word-break: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.guilds-list {
  width: 600px;
  background: #ffffff03;
  border-radius: 12px 0 0 32px;
  backdrop-filter: blur(3px);
  border-right: 0px;
  padding: 10px;
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) !important;
  opacity: 0;
  transform: translateX(50%);
  box-shadow: 0 1px 3px var(--c-36);
  border: 1px solid #36363680;
  border-right: none;
}

.guild-list-wrapper {
  gap: 12px;
}
.guild-list-wrapper h5 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
  color: var(--w);
}
.unique-guild {
  border-radius: 22px;
  border: 1px solid var(--c-24);
  height: 40px;
  padding: 10px;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s var(--trans);
}
.unique-guild:hover {
  width: 320px;
}
.unique-guild h2 {
  font-weight: 600;
}
.unique-guild img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
}
.unique-guild .logoMobile {
  display: none;
}
.unique-guild img.arrow {
  height: 20px;
  width: 20px;
  filter: invert(100%);
  margin-right: 10px;
}

.about-us .main-text {
  font-size: 42px;
  font-weight: 700;
  /*   АНИМАЦИЯ ПРИ ЗАГРУЗКЕ   */
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.1s !important;
  opacity: 0;
  transform: translateY(-150%);
}
.about-us .support-text {
  color: #9ca3af;
  font-size: 21px;
  text-align: center;
  width: 100%;
  font-weight: 400;
  transition-delay: 0.25s;
  position: absolute;
  transform: translateY(50%);
  opacity: 0;
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.35s !important;
}
.about-us .support-text.active {
  transform: translateY(0);
  opacity: 1;
}
.about-us .support-text.on-move {
  animation: description-animation 0.8s cubic-bezier(.21,.29,0,.94) forwards;
}
@keyframes description-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  99.99% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(50%);
    opacity: 0;
  }
}
.about-us .descriptions-wrapper {
  position: relative;
  width: 100%;
  height: 66px;
  margin: 12px 0;
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.35s !important;
  opacity: 0;
  transform: translateY(-100px);
}

.guilds-list .background {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.guilds-list .background img {
  position: absolute;
  top: 50%;
  transform: translate(40%, -40%);
  right: 0;
  z-index: -1;
}
@media (max-width: 767px) {
.unique-guild .logoMobile {
  display: block;
}
.unique-guild .logoDesktop {
  display: none;
}
main {
  position: relative; 
  overflow: hidden;
}
.about-us {
  padding: 0;
}
.about-us .main-text {
  font-size: 7vw;
  text-align: center;
  white-space: no-wrap;
}
.about-us .support-text {
  font-size: 5vw;
  width: 90%;
}
.panel.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about-us {
  width: unset;
  height: unset;
}
.guilds-list {
  backdrop-filter: none;
  width: calc(95vw - 5vw);
  padding: 10px;
  border-radius: 15px;
  margin: 0 2.5vw;
  position: relative;
}
.guild-list-wrapper h5 {
  margin-top: 0px;
}
.guild-list-wrapper {
  gap: 10px;
}
.unique-guild {
  width: unset;
  min-width: unset;
}
.unique-guild:hover {
  width: unset;
}
}
header {
  transform: translateY(-100%);
  opacity: 0;
}
</style>
<panel class="panel main">
  <div class="about-us">
    <div class="center flex-dir-column">
      <p class="main-text anim-onload"><%= lang.joinToUs %></p>
      <div class="descriptions-wrapper flex flex-dir-column align-center">
        <% lang.joinToUsDescription.forEach(text => { %>
          <p class="support-text anim-onload"><%= text %></p>
        <% }) %>
      </div>
    </div>
  </div>
  <div class="guilds-list anim-onload">
    <div class="background"><img src="https://api.impactium.fun/ui/diamond-full-pattern.svg"></div>
    <div class="guild-list-wrapper flex-dir-column">
      <h5><%= lang.ourPartners %></h5>

        <% Object.values(nav.partners).forEach(partner => { %>
          <div class="unique-guild flex-dir-row predis" onclick="redirect('<%= partner.action %>')">
            <div class="wrapper center-v flex gap">
              <img class="<%= partner.logoMobile ? 'logoDesktop' : '' %>" src="<%= partner.logo %>">
              <% if (partner.logoMobile) { %>
                <img class="logoMobile" src="<%= partner.logoMobile %>">
              <% } %>
              <h2><%= partner.name %></h2>
            </div>
            <img class="arrow" src="https://api.impactium.fun/ux/to-left.svg">
          </div>
        <% }); %>
    </div>
  </div>
</panel>
<script>
  $(window).on('load', function() {
  const header = document.querySelector('header');
  header.style.transform = ('translateY(0px)');
  header.style.opacity = ('1');

  const gl = document.querySelector('.guilds-list');
  gl.style.transform = ('translateX(0px)');
  gl.style.opacity = ('1');

  const aboutUsMainText = document.querySelector('.main-text');
  aboutUsMainText.style.transform = ('translateX(0px)');
  aboutUsMainText.style.opacity = ('1');

  const aboutUsDescriptionText = document.querySelector('.descriptions-wrapper');
  aboutUsDescriptionText.style.transform = ('translateX(0px)');
  aboutUsDescriptionText.style.opacity = ('1');
});

function redirectPhp() {
  window.location.href = "/php";
}

function redirect(link) {
  window.location.href = link;
}
function redirectMetrix() {
  window.location.href = `/metrix`;
}

function login() {
  window.location.href = "/login";
}

function logout() {
  window.location.href = "/logout";
}

const toggleLanguageChooseButton = document.getElementById('toggleLanguageChooseButton')
function toggleLanguageChoosePanel() {
  const languagePack = document.querySelector('language');
  if (languagePack.classList.contains('active')) {
    languagePack.classList.remove('active');
  } else {
    languagePack.classList.add('active');
  }
}

const descriptionBlocks = $('.descriptions-wrapper .support-text');
let currentIndex = 1;

function applyStyle() {
  $(descriptionBlocks).removeClass('on-move active'); // Убрать стили у всех блоков

  const currentBlock = descriptionBlocks.eq(currentIndex);
  const prevIndex = (currentIndex === 0) ? descriptionBlocks.length - 1 : currentIndex - 1;
  const prevBlock = descriptionBlocks.eq(prevIndex);

  currentBlock.addClass('active');
  prevBlock.addClass('on-move');

  currentIndex = (currentIndex + 1) % descriptionBlocks.length;

  setTimeout(() => {
    applyStyle()
  }, 5000);
}
applyStyle()
</script>