<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://api.impactium.fun/logo/impactium-tw.png" type="image/x-icon">
  <title>Impactium</title>
  <link rel="stylesheet" href="static/style/reset.css">
  <link rel="stylesheet" href="static/style/style_global.css?v=1">
  <link rel="stylesheet" href="static/style/style_main.css">
  <link rel="stylesheet" href="static/style/style_main_mobile.css?v=2">
  <script src="static/script/jquery.js"></script>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Meera+Inimai&display=swap');
:root {
  --g: #1F2937;
  --gh: #374151;
  --gho: #37415180;
  --b: #111827;
  --bo: #11182790;
  --w: #e8e8e8;
  --black-one: #161616;
  --black-two: #212121;
  --p: #3E3979;
  --lp: #8F80F4;
  --lpo: #8F80F480;
  --player-gradient: linear-gradient(90deg, #29afe0 0%, #29cee0 100%);
  --kills-gradient: linear-gradient(90deg, #E0294E 0%, #E02983 100%);
  --fame-gradient: linear-gradient(90deg, #29E09D 0%, #29E082 100%);
  --player-text: #29cee0;
  --kills-text: #E02983;
  --fame-text: #29E082;
  --backdrop-background: rgba(255, 255, 255, 0.074);
  --backdrop-border: rgba(255, 255, 255, 0.222);
  --trans: cubic-bezier(.21,.29,0,.94);
}
.noanim {
  transition: all 0s linear !important;
}

.stars-svg {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translate(-50%, 40%) scale(0.6);
  opacity: 0.5;
  pointer-events: none;
}
.absolute {
  position: absolute;
}
.rocks {
  width: 100vw;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  transform: translateY(0);
}
.rocks-bottom img {
  position: absolute;
  top: 80vh;
  width: 100vw;
}
.starsX {
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

* {
  font-family: 'Manrope', sans-serif;  
  color: white;
  text-shadow: 0px 3px 8px #212121;
  color-scheme: dark;
}
body {
  background: #131D27;    
  background-image: url(https://api.impactium.fun/svg/bg-learn-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
button {
  cursor: pointer;
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

footer {
  height: calc(17.5vh - 50px);
  max-height: 500px;
  width: calc(100vw - 30%);
  padding: 25px 15%;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(0deg, rgba(15,22,30,0.3) 0%, rgba(29,42,58,0.3) 100%);
  backdrop-filter: blur(15px);
}

footer h3 {
  color: #5b6b81;
}
footer .on-close {
  margin-top: 15px;
  font-weight: 600;
  font-size: 1rem;
  color: #5b6b81;
  text-shadow: 0 0 0 transparent;
}
footer span {
  margin-top: 5px;
  font-size: 0.75rem;
  color: #5b6b81;
  max-width: 50vw;
  max-width: 45rem;
  font-weight: normal;
  text-shadow: 0 0 0 transparent;
}

.panel {
  height: calc(100vh - 80px);
}
.panel.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about-us {
  height: 250px;
  padding: 40px;
  width: 50vw;
  word-break: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.guilds-list {
  width: 600px;
  background: #11182759;
  border-radius: 12px 0 0 12px;
  backdrop-filter: blur(15px);
  border-right: 0px;
  padding: 10px;
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) !important;
  opacity: 0;
  transform: translateX(50%);
  box-shadow: 0 1px 3px var(--p);
}

.guild-list-wrapper {
  gap: 12px;
}
.guild-list-wrapper h5 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
  color: var(--w);
}
.unique-guild {
  border-radius: 6px;
  border: 1px solid var(--p);
  height: 40px;
  padding: 10px;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.unique-guild h2 {
  font-weight: 600;
}
.unique-guild img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.unique-guild .logoMobile {
  display: none;
}
.unique-guild img.arrow {
  height: 20px;
  width: 20px;
  filter: invert(100%);
  margin-right: 10px;
}
.unique-guild:hover {
  width: 320px;
  backdrop-filter: blur(5px);
}
.disallowed {
  cursor: not-allowed;
  background: #ff00004f;
}
.unique-guild.disallowed:hover {
  width: 70%;
}

.about-us .main-text {
  font-size: 42px;
  font-weight: 700;
  /*   АНИМАЦИЯ ПРИ ЗАГРУЗКЕ   */
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.1s !important;
  opacity: 0;
  transform: translateY(-150%);
}
.about-us .support-text {
  margin: 12px 0;
  color: #9ca3af;
  font-size: 21px;
  text-align: center;
  width: 65%;
  font-weight: 400;
  transition-delay: 0.25s;
  /*   АНИМАЦИЯ ПРИ ЗАГРУЗКЕ   */
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.35s !important;
  opacity: 0;
  transform: translateY(-150%);
}
.about-us .become-partner {
  border-radius: 12px;
  height: 66px;
  width: calc(66px * 3);
  background: var(--b);
  font-size: 16px;
  font-weight: 600;
  gap: 12px;
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.2s !important;
  opacity: 0;
  transform: translateY(100%);
  box-shadow: 0 1px 3px var(--p);
}
.about-us .become-partner img {
  filter: invert(100%);
  height: 23px;
  transition: all 0.5s ease;
}
.become-partner:hover img {
  transform: rotateY(180deg);
}
.guilds-list .background {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.guilds-list .background img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  z-index: -1;
}
@media (max-width: 767px) {
.unique-guild .logoMobile {
  display: block;
}
.unique-guild .logoDesktop {
  display: none;
}
main {
  position: relative; 
  overflow: hidden;
}
.about-us {
  padding: 0;
  padding-top: 40px;
}
.about-us .main-text {
  font-size: 5vw;
}
.about-us .support-text {
  font-size: 3vw;
}
.panel.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about-us {
  width: unset;
  height: unset;
}
.guilds-list {
  backdrop-filter: none;
  width: calc(95vw - 5vw);
  padding: 10px;
  border-radius: 15px;
  margin: 0 2.5vw;
  border: 0px solid #23688aa6;
  position: relative;
}
.guild-list-wrapper h5 {
  margin-top: 0px;
}
.guild-list-wrapper {
  gap: 10px;
}
.unique-guild {
  width: unset;
  min-width: unset;
  background: linear-gradient(90deg, #111828 0%, #192031 100%);
}
.unique-guild:hover {
  width: unset;
}
.rocks-bottom img {
  top: 22vh;
}
body {
  min-height: 120vh;
}
footer .on-close {
  font-size: 0.9rem;
}
footer {
  height: unset;
  align-items: flex-start;
  padding: 3vw 5vw;
  width: calc(100vw - 10vw);
}
}
language {
  z-index: 3;
  position: fixed;
  top: 40px;
  transform: translateY(-50%);
  left: -130px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s var(--trans);
  background: var(--b);
  box-shadow: 0 1px 3px var(--p);
  border-radius: 0 20px 20px 0;
}
language.active {
  left: 0px;
}
language .list {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 120px;
}
language .list img {
  height: 20px;
}
language .toggler {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.3s var(--trans);
  border: 1px solid transparent;
}
language .toggler img {
  height: 30px;
  width: 30px;
}
</style>
</head>
<% const guildParams = [
  { name: "Fax", 
    logo: "https://cdn.discordapp.com/icons/806816080508354611/4dd75efaafb2cc17185720ce85f0a87c.webp?size=240",
    desc: "#1 S21 | More: @faxnocap"
  }
]; %>
<% const partners = [
  {
    name: 'Impactium Bot',
    logo: 'https://api.impactium.fun/logo/impactium-wb.png',
    description: 'Автороли для альянса.',
    action: 'redirectDiscordBotJoin()',
  },
  {
    name: 'Eclipse Metrix',
    logo: 'https://api.impactium.fun/logo/eclipsemetrix.png',
    description: 'Statistics for Albion Online.',
    action: 'redirectMetrix()',
  },
  {
    name: 'PHP Compiler',
    logo: 'https://api.impactium.fun/logo/php-compiler.jpeg',
    description: 'School assistant project.',
    action: 'redirectPhp()',
  }
] %>
<body>
<div class="preloader center">
  <div class="honeycomb">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<background class="absolute flex">
  <div class="rocks absolute">
    <img class="w-ful" src="https://api.impactium.fun/svg/1-01.svg">
  </div>
  <div class="rocks absolute">
    <img class="w-ful" src="https://api.impactium.fun/svg/2-01.svg">
  </div>
  <div class="rocks starsX absolute">
    <img src="https://api.impactium.fun/ui/diamond-full-pattern.svg">
  </div>
  <div class="rocks rocks-bottom absolute">
    <img src="https://api.impactium.fun/svg/rocks5.svg">
  </div>
  <div class="rocks absolute">
    <img class="w-ful" src="https://api.impactium.fun/svg/7-03.svg">
  </div>
</background>
<language>
  <div class="list">
    <% const availableLanguages = ['en', 'uk', 'ru', 'it', 'is']; %>
    <% for (const langCode of availableLanguages) { %>
      <a href="/lang/<%= langCode %>"><img src="https://api.impactium.fun/langs/<%= langCode %>.png"></a>
    <% } %>
  </div>
  <button class="toggler center" id="toggleLanguageChooseButton" onclick="toggleLanguageChoosePanel()">
    <img src="https://api.impactium.fun/svg/earth-globe.svg">
  </button>
</language>

<%- include('modules/header.ejs', { user, lang, partners, guildParams, isFull: true }) %>

<main>
  <panel class="panel main">
    <div class="about-us">
      <div class="center flex-dir-column">
        <p class="main-text anim-onload"><%= lang.joinToUs %></p>
        <p class="support-text anim-onload"><%= lang.joinToUsDesc %></p>
      </div>
    </div>
    <div class="guilds-list anim-onload">
      <div class="background"><img src="https://api.impactium.fun/ui/diamond-semi-pattern.svg"></div>
      <div class="guild-list-wrapper flex-dir-column">
        <h5><%= lang.ourPartners %></h5>

          <% guildParams.forEach(guild => { %>
            <div class="unique-guild flex-dir-row predis" onclick="redirectGuild('<%= guild.name %>')">
              <div class="wrapper center-v flex gap">
                <img class="<%= guild.logoMobile ? 'logoDesktop' : '' %>" src="<%= guild.logo %>">
                <% if (guild.logoMobile) { %>
                  <img class="logoMobile" src="<%= guild.logoMobile %>">
                <% } %>
                <h2><%= guild.name %></h2>
              </div>
              <img class="arrow" src="https://api.impactium.fun/ux/to-left.svg">
            </div>
          <% }); %>
        <div class="unique-guild flex-dir-row">
          <div class="wrapper center-v flex gap">
            <img src="https://api.impactium.fun/ux/gamepad.png">
            <h2><%= lang.becomePartner %></h2>
          </div>
          <img class="arrow" src="https://api.impactium.fun/ux/to-left.svg">
        </div>

      </div>
    </div>
  </panel>
</main>
<footer>
  <h3><%= lang.disclaimer %></h3>
  <span class="flex"><%= lang.termsAndRules %></span>
  <div class="info">
    
  </div>
  <p class="on-close"><%= lang.onClose %></p>
</footer>
</body>
</html>
<script>
$(window).on('load', function() {
  $('.preloader').remove();

  const header = document.querySelector('header');
  header.style.transform = ('translateX(0px)');
  header.style.opacity = ('1');

  const gl = document.querySelector('.guilds-list');
  gl.style.transform = ('translateX(0px)');
  gl.style.opacity = ('1');

  const aboutUsMainText = document.querySelector('.main-text');
  aboutUsMainText.style.transform = ('translateX(0px)');
  aboutUsMainText.style.opacity = ('1');

  const aboutUsDescriptionText = document.querySelector('.support-text');
  aboutUsDescriptionText.style.transform = ('translateX(0px)');
  aboutUsDescriptionText.style.opacity = ('1');

});






function auth() {
  window.location.href = "/login";
}

function redirectPhp() {
  window.location.href = "/php";
}

function redirectGuild(name) {
  const guild = name.toLowerCase().replace(/\s/g, '-');
  window.location.href = `https://${guild}.impactium.fun/`;
}
function redirectMetrix() {
  window.location.href = `/metrix`;
}

function login() {
  window.location.href = "/login";
}

function logout() {
  window.location.href = "/logout";
}

const toggleLanguageChooseButton = document.getElementById('toggleLanguageChooseButton')
function toggleLanguageChoosePanel() {
  const languagePack = document.querySelector('language');
  if (languagePack.classList.contains('active')) {
    languagePack.classList.remove('active');
  } else {
    languagePack.classList.add('active');
  }
}

</script>