<style>
main {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.panel {
  height: calc(100vh - 80px);
}
.panel.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about-us {
  height: 250px;
  padding: 40px;
  width: 50vw;
  word-break: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.guilds-list {
  width: 600px;
  background: #ffffff03;
  border-radius: 12px 0 0 32px;
  backdrop-filter: blur(3px);
  border-right: 0px;
  padding: 10px;
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) !important;
  opacity: 0;
  transform: translateX(50%);
  box-shadow: 0 1px 3px var(--c-36);
  border: 1px solid #36363680;
  border-right: none;
}

.guild-list-wrapper {
  gap: 12px;
}
.guild-list-wrapper h5 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
  color: var(--w);
}
.unique-guild {
  border-radius: 22px;
  border: 1px solid var(--c-24);
  height: 40px;
  padding: 10px;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s var(--trans);
}
.unique-guild:hover {
  width: 320px;
}
.unique-guild h2 {
  font-weight: 600;
}
.unique-guild img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
}
.unique-guild .logoMobile {
  display: none;
}
.unique-guild img.arrow {
  height: 20px;
  width: 20px;
  filter: invert(100%);
  margin-right: 10px;
}

.about-us .main-text {
  font-size: 42px;
  font-weight: 700;
  /*   АНИМАЦИЯ ПРИ ЗАГРУЗКЕ   */
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.1s !important;
  opacity: 0;
  transform: translateY(-150%);
}
.about-us .support-text {
  margin: 12px 0;
  color: #9ca3af;
  font-size: 21px;
  text-align: center;
  width: 65%;
  font-weight: 400;
  transition-delay: 0.25s;
  /*   АНИМАЦИЯ ПРИ ЗАГРУЗКЕ   */
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.35s !important;
  opacity: 0;
  transform: translateY(-150%);
}
.about-us .become-partner {
  border-radius: 12px;
  height: 66px;
  width: calc(66px * 3);
  background: var(--b);
  font-size: 16px;
  font-weight: 600;
  gap: 12px;
  transition: all 0.8s cubic-bezier(.21,.29,0,.94) 0.2s !important;
  opacity: 0;
  transform: translateY(100%);
  box-shadow: 0 1px 3px var(--p);
}
.about-us .become-partner img {
  filter: invert(100%);
  height: 23px;
  transition: all 0.5s ease;
}
.become-partner:hover img {
  transform: rotateY(180deg);
}
.guilds-list .background {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.guilds-list .background img {
  position: absolute;
  top: 50%;
  transform: translate(40%, -40%);
  right: 0;
  z-index: -1;
}
@media (max-width: 767px) {
.unique-guild .logoMobile {
  display: block;
}
.unique-guild .logoDesktop {
  display: none;
}
main {
  position: relative; 
  overflow: hidden;
}
.about-us {
  padding: 0;
  padding-top: 40px;
}
.about-us .main-text {
  font-size: 5vw;
}
.about-us .support-text {
  font-size: 3vw;
}
.panel.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about-us {
  width: unset;
  height: unset;
}
.guilds-list {
  backdrop-filter: none;
  width: calc(95vw - 5vw);
  padding: 10px;
  border-radius: 15px;
  margin: 0 2.5vw;
  position: relative;
}
.guild-list-wrapper h5 {
  margin-top: 0px;
}
.guild-list-wrapper {
  gap: 10px;
}
.unique-guild {
  width: unset;
  min-width: unset;
  background: linear-gradient(90deg, #111828 0%, #192031 100%);
}
.unique-guild:hover {
  width: unset;
}
body {
  min-height: 120vh;
}
}
</style>
<main>
  <panel class="panel main">
    <div class="about-us">
      <div class="center flex-dir-column">
        <p class="main-text anim-onload"><%= lang.joinToUs %></p>
        <p class="support-text anim-onload"><%= lang.joinToUsDesc %></p>
      </div>
    </div>
    <div class="guilds-list anim-onload">
      <div class="background"><img src="https://api.impactium.fun/ui/diamond-full-pattern.svg"></div>
      <div class="guild-list-wrapper flex-dir-column">
        <h5><%= lang.ourPartners %></h5>

          <% Object.values(nav.guilds).forEach(guild => { %>
            <div class="unique-guild flex-dir-row predis" onclick="redirect('<%= guild.action %>')">
              <div class="wrapper center-v flex gap">
                <img class="<%= guild.logoMobile ? 'logoDesktop' : '' %>" src="<%= guild.logo %>">
                <% if (guild.logoMobile) { %>
                  <img class="logoMobile" src="<%= guild.logoMobile %>">
                <% } %>
                <h2><%= guild.name %></h2>
              </div>
              <img class="arrow" src="https://api.impactium.fun/ux/to-left.svg">
            </div>
          <% }); %>
      </div>
    </div>
  </panel>
</main>
<script>
$(window).on('load', function() {
  const header = document.querySelector('header');
  header.style.transform = ('translateX(0px)');
  header.style.opacity = ('1');

  const gl = document.querySelector('.guilds-list');
  gl.style.transform = ('translateX(0px)');
  gl.style.opacity = ('1');

  const aboutUsMainText = document.querySelector('.main-text');
  aboutUsMainText.style.transform = ('translateX(0px)');
  aboutUsMainText.style.opacity = ('1');

  const aboutUsDescriptionText = document.querySelector('.support-text');
  aboutUsDescriptionText.style.transform = ('translateX(0px)');
  aboutUsDescriptionText.style.opacity = ('1');
});

function redirectPhp() {
  window.location.href = "/php";
}

function redirect(link) {
  window.location.href = link;
}
function redirectMetrix() {
  window.location.href = `/metrix`;
}

function login() {
  window.location.href = "/login";
}

function logout() {
  window.location.href = "/logout";
}

const toggleLanguageChooseButton = document.getElementById('toggleLanguageChooseButton')
function toggleLanguageChoosePanel() {
  const languagePack = document.querySelector('language');
  if (languagePack.classList.contains('active')) {
    languagePack.classList.remove('active');
  } else {
    languagePack.classList.add('active');
  }
}

</script>