<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="<%- typeof pagetype !== 'undefined' ? pagetype.logo : 'https://api.impactium.fun/logo/impactium-tw.png' %>" type="image/x-icon">
  <title>Impactium</title>
  <link rel="stylesheet" href="https://impactium.fun/static/style/reset.css?v=9">
  <link rel="stylesheet" href="https://impactium.fun/static/style/style_global.css?v=9">
  <script src="https://impactium.fun/static/script/jquery.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');
    * {
      font-family: 'Nunito', sans-serif;
      color: var(--w);
    }
    body {
      min-height: 100vh;
      background: url(https://api.impactium.fun/backgrounds/topography-21.svg);
      background-color: var(--c-16);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      overflow-x: hidden;
    }
    temp-background {
      height: 100%;
      width: 100vw;
      pointer-events: none;
    }
    button {
      cursor: pointer;
      background-color: #00000000;
      border: 0;
      border-radius: 0;
      padding: 0;
    }
    .preloader {
      background: var(--c24);
    }
  </style>
</head>


<body>
  <%- include('modules/preloader.ejs') %>
  <%- include('modules/language.ejs') %>
  <%- include('modules/header.ejs', { user, lang }) %>
  <%- body %>
</body>
</html>

<script type="text/javascript">
function index() {
  window.location.href = "/";
}
function auth() {
  window.location.href = "https://discord.com/api/oauth2/authorize?client_id=1123714909356687360&redirect_uri=https%3A%2F%2Fimpactium.fun%2F&response_type=code&scope=identify";
}
</script>