<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="<%- typeof pagetype !== 'undefined' ? pagetype.logo : 'https://api.impactium.fun/logo/impactium-tw.png' %>" type="image/x-icon">
  <title>Impactium</title>
  <link rel="stylesheet" href="/static/style/reset.css?v=9">
  <link rel="stylesheet" href="/static/style/style_global.css?v=12">
  <script src="/static/script/jquery.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');
    :root {
      --accent-color: #437313;
    }
    * {
      font-family: 'Nunito', sans-serif;
      color: var(--w);
    }
    body {
      min-height: 100vh;
      background: url(https://api.impactium.fun/backgrounds/topography-21.svg);
      background-color: var(--c-16);
      background-position: top;
      background-size: cover;
      background-repeat: repeat;
      width: 100vw;
      overflow-x: hidden;
    }
    main {
      display: flex;
      flex-direction: column;
      padding-top: 80px;
      flex: 1;
    }
    .preloader {
      background: var(--c-16);
    }
  </style>
</head>


<body>
  <%- include('modules/preloader.ejs') %>
  <%- include('modules/language.ejs') %>
  <%- include('modules/header.ejs', { user, lang }) %>
  <main>
    <%- body %>
  </main>
</body>
<script>
  
</script>
</html>