<div class="default-alpha-block 1st flex inform-panel flex-dir-column" style="overflow: hidden;">
  <div class="line-one flex align-center justify-between">
    <p onHoverValue="<%= lang[name].statisticsNameFull %>" class="on-hover-block"><%= lang[name].statisticsName %></p>
    <button>
      <img src="">
    </button>
  </div>
  <div class="line-two flex">
    <div class="bar">
      <span id="<%= name %>MaxY"></span>
      <p id="nameY"></p>
    </div>
    <div class="canwas-wrapper">
      <canvas id="<%= name %>"></canvas>
    </div>
  </div>
  <div class="line-three flex">
    <div class="toggler" onclick="changeDayWeekVisibility(this)">
      <button id="toDays">1d</button>
      <button id="toWeeks">1w</button>
    </div>
    <p id="nameX"></p>
    <span id="<%= name %>MaxX"></span>
  </div>
</div>
<script>
(function() {
  const statisticsName = "<%= name %>";

  let labels = <%- JSON.stringify(guild.parsedStatistics[statisticsName].labels) %>;
  let data = <%- JSON.stringify(guild.parsedStatistics[statisticsName].values) %>;

  const isBeginAtZero = !data.some(value => value > 0);

  generateChart("<%= name %>", labels, data, isBeginAtZero);

  })();
</script>