<div class="default-alpha-block 1st flex inform-panel flex-dir-column" style="overflow: hidden;">
  <div class="line-one flex align-center justify-between">
    <p onHoverValue="<%= lang[name].statisticsNameFull %>" class="on-hover-block"><%= lang[name].statisticsName %></p>
    <button>
      <img src="">
    </button>
  </div>
  <div class="line-two flex">
    <div class="canwas-wrapper">
      <canvas id="<%= name %>"></canvas>
    </div>
  </div>
  <div class="line-three flex">
    <div class="toggler" visibilitytype="days" onclick="changeDayWeekVisibility(this)">
      <button id="toDays">3d</button>
      <button id="toWeeks">1w</button>
    </div>
    <p id="<%= name %>NameX"></p>
    <span id="<%= name %>MaxX"></span>
  </div>
</div>
<script>
(function() {
  const statisticsName = "<%= name %>";

  const labels = <%- JSON.stringify(guild.parsedStatistics?.[name]?.labels) %>;
  $(`#${statisticsName}`).data('labels', labels);

  const data = <%- JSON.stringify(guild.parsedStatistics?.[name]?.values) %>;
  $(`#${statisticsName}`).data('data', data);

  generateChart($(`#${statisticsName}`), -47);
})();
</script>