<div class="default-alpha-block 1st flex inform-panel flex-dir-column" style="overflow: hidden;">
  <div class="line-one flex align-center justify-between">
    <p onHoverValue="<%= lang[name].statisticsNameFull %>" class="on-hover-block"><%= lang[name].statisticsName %></p>
    <button>
      <img src="">
    </button>
  </div>
  <div class="line-two flex">
    <div class="bar">
      <span id="<%= name %>MaxY"></span>
      <p id="nameY"></p>
    </div>
    <div class="canwas-wrapper">
      <canvas id="<%= name %>"></canvas>
    </div>
  </div>
  <div class="line-three flex">
    <div class="toggler" onclick="changeDayWeekVisibility(this)">
      <button id="toDays">1d</button>
      <button id="toWeeks">1w</button>
    </div>
    <p id="nameX"></p>
    <span id="<%= name %>MaxX"></span>
  </div>
</div>
<script>
(function() {
  const rawData = JSON.parse(`<%- JSON.stringify(stat) %>`);
  const statisticsName = "<%= name %>";

  let labels = [];
  let data = [];

  let previousValue = 0;

  const lastDates = Object.keys(rawData).slice(-3);
  
  lastDates.forEach(date => {
    const hours = Object.keys(rawData[date]).sort();
    $('#<%= name %>MaxX').text("0");
    hours.forEach(hour => {
      const entry = rawData[date][hour][statisticsName] || 0;
      data.push(entry);
      labels.push(`${date} ${hour}:00`);
      if (hour > $('#<%= name %>MaxX').text()) {
        $('#<%= name %>MaxX').text(`${hour}:00`);
      }
      if (entry > $('#<%= name %>MaxY').text()) {
        $('#<%= name %>MaxY').text(entry);
      }
    });
  });
  
  labels = labels.slice(-47);
  data = data.slice(-47);

  const isBeginAtZero = !data.some(value => value > 0);

  generateChart("<%= name %>", labels, data, isBeginAtZero);

  })();
</script>