<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="<%= user.guild.avatar %>" type="image/x-icon">
  <title><%= user.nameOfGuild %></title>
  <link rel="stylesheet" href="static/style/reset.css">
  <link rel="stylesheet" href="static/style/preloader.css?v=11">
  <link rel="stylesheet" href="https://impactium.fun/static/style/style_global.css?v=7">
  <script src="static/script/jquery.js"></script>
</head>
<body>
<div class="preloader none center">
  <div class="honeycomb">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
:root {
  --player-gradient: linear-gradient(90deg, #29afe0 0%, #29cee0 100%);
  --kills-gradient: linear-gradient(90deg, #E0294E 0%, #E02983 100%);
  --fame-gradient: linear-gradient(90deg, #29E09D 0%, #29E082 100%);
  --player-text: #29cee0;
  --kills-text: #E02983;
  --fame-text: #29E082;
}
.preloader {
  background: var(--black-one);
}
.invert {
  filter: invert(100%);
}
* {
  font-family: 'Manrope', sans-serif;
  padding: 0px;
  color-scheme: dark;
}

button {
  outline: none;
  background: none;
  border: none;
}

body {
  background: var(--black-two);
  width: 100vw;
  min-height: 100vh;
}

main {
  width: calc(100vw - 40vw);
  padding: 80px 20vw 0 20vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  display: flex;
  width: calc(100vw - 40vw);
  padding: 0 20vw;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 8;
  height: 80px;
  background: var(--black-one);
}
header div {
  display: flex;
  align-items: center;
}
.on-login {
  gap: 15px;
}
.title {
  gap: 15px;
}
.title h1 {
  left: 0px;
  font-family: 'Monoton', cursive;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 40px;
  text-align: center;
  position: relative;
  color: transparent;
  cursor: pointer;
  transform-style: preserve-3d;
  perspective: 800px;
}

.title img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.title h1:before {
  content: "Impactium";
  position: absolute;
  color: white;
  left: 0;
  transition: all 0.3s ease-out;
  transform: translateY(50%) rotateX(-90deg);
}

.title h1::after {
  content: "<%= user.guild.name %>";
  color: white;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in;
}

.title h1:hover::after {
  transform: translateY(-50%) rotateX(90deg);
  transition-timing-function: ease-out; /* Анимация при наведении (ease-in) */
}

.title h1:hover::before {
  transform: translateY(0%) rotateX(0deg);
  transition-timing-function: ease-in; /* Анимация при наведении (ease-out) */
}

.gold-button {
  min-width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  font-family: 'Manrope', sans-serif;
}

.gold-button::before {
  position: absolute;
  content: "";
  color: #ffd277;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 18px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.gold-button:hover {
  background-position: right;
  transition-duration: 1s;
}

.gold-button:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.gold-button p,
.gold-button a {
  z-index: 0;
  text-decoration: none;
  color: #ffd277;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  white-space: nowrap;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-text-wrapper {
  display: flex;
  margin-right: 4px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100% - 4px);
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.avatar img {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  z-index: 0;
  pointer-events: none;
  margin-left: 2px;
}

@keyframes background-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.dropdown-list {
  position: absolute;
  width: 100%;
  min-height: 40px;
  top: 20px;
  opacity: 0;
  background: var(--black-one);
  filter: blur(5px);
  pointer-events: none;
  border-radius: 20px;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s var(--trans);
  overflow: hidden;
}
.user-info {
  transition: border-radius 0.3s var(--trans);
  pointer-events: <% if (user.isRaidLeader || user.isAdmin || user.isModerator) { %>all<% } else { %>none<% } %>;
}
.user-info:before {
  transition: border-radius 0.3s var(--trans);
}
.user-info:hover:before {
  border-radius: 18px 18px 3px 3px;
}
.user-info:hover {
  border-radius: 20px 20px 5px 5px;
}
.user-info:hover .dropdown-list {
  top: 40px;
  opacity: 1;
  filter: none;
  pointer-events: all;
  border-radius: 5px 5px 20px 20px;
}

.dropdown-list button.permission {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s var(--trans);
}
.dropdown-list button.permission:hover {
  background: var(--black-two);
}
.dropdown-list button.permission img {
  height: calc(100% - 16px);
  padding: 8px;
  filter: invert(100%);
}
.dropdown-list button.permission a {
  color: var(--w);
  text-shadow: 0px 1px 2px var(--backdrop-border);
  text-overflow: ellipsis;
  overflow: hidden;
  justify-content: flex-start;
  font-size: 13px;
  color: var(--w);
  text-decoration: none;
}
language {
  z-index: 9;
  position: absolute;
  top: 40px;
  transform: translateY(-50%);
  left: -130px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s var(--trans);
  background: var(--black-two);
  border-radius: 0 20px 20px 0;
}
language.active {
  left: 0px;
}
language .list {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 120px;
}
language .list img {
  height: 20px;
}
language .toggler {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.3s var(--trans);
  border: 1px solid transparent;
}
language .toggler img {
  height: 30px;
  width: 30px;
}
@media (max-width: 767px) {
  header .title h1 {
    display: none;
  }
  header .title img {
    width: calc(25vw / 1.5);
    height: calc(25vw / 1.5);
  }
  header .gold-button {
    min-width: 25vw;
    height: calc(25vw / 2);
    border-radius: calc(25vw / 2 / 2);
  }
  header .gold-button:before {
    border-radius: calc(25vw / 2 / 2);
  }
  header .gold-button p,
  header .gold-button a {
    font-size: 100%;
  }
  .avatar img {
    width: calc(25vw / 2 - 4px);
    height: calc(25vw / 2 - 4px);
  }
  header {
    padding: 0 2.5vw;
    width: calc(100% - 5vw);
  }
  main {
    padding: 80px 2.5vw 0 2.5vw;
    width: calc(100% - 5vw);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  language {
    top: -145px;
    left: 33%;
    transform: translateX(-50%);
    flex-direction: column;
    width: 40px;
    height: unset;
    border-radius: 0 0 20px 20px;
  }
  language.active {
    left: 33%;
    top: 0px;
  }
  language .toggler {
    border-radius: 0 0 20px 20px;
  }
  language.active .toggler {
    border: 1px solid var(--w);
  }
  language .list {
    flex-direction: column;
    width: unset;
    padding-top: 5px;
    padding-left: 0;
  }
  #logout {
    display: none;
  }
}
</style>

<%- include('../modules/language.ejs') %>
<%- include('../modules/preloader.ejs') %>

<%- include('../modules/header.ejs', { user, lang }) %>
  <main>
    <%- body %>
  </main>
</body>
</html>

<script type="text/javascript">
  function toHub() {
    window.location.href = "https://impactium.fun/";
  }
const toggleLanguageChooseButton = document.getElementById('toggleLanguageChooseButton')
function toggleLanguageChoosePanel() {
  const languagePack = document.querySelector('language');
  if (languagePack.classList.contains('active')) {
    languagePack.classList.remove('active');
  } else {
    languagePack.classList.add('active');
  }
}
</script>